[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-dependency-injection = "*"
pyyaml = "*"

[dev-packages]
pytest = "7.4.4"
sphinx = "5.3.0"
sphinx-rtd-theme = "2.0.0"
sphinx-autobuild = "2021.3.14"
sphinxcontrib-napoleon = "0.7"
wheel = "0.41.2"
pyzmq = "26.0.3"

[requires]
python_version = ">=3.7"

[pipenv]
allow_prereleases = true
